@import "qna.css";
@import "main.css";
@import "result.css";
@import "animation.css";

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.jalan{
    font-family: 'yg-jalnan';
}

.Gmarket{
    font-family: 'GmarketSansLight';
}

.efd{
    font-family: 'EarlyFontDiary';
}

.sharebtn_custom{
    display: block;
    margin: auto;
}

.jalan{
    display: block;
    text-align: center;
}
.resultIntro{
    display: block;
    text-align: center;
}
.resultName{
    display: block;
    text-align: center;
}

.resultDescTitle1{
    font-size: xx-large;
    font-weight: 1000;
    text-align: center;
}
.resultDesc1{
    font-size: larger;
    text-align: center;
}

.resultDescTitle2{
    font-size: xx-large;
    font-weight: 1000;
    text-align: center;
}
.resultDesc2{
    font-size: larger;
    text-align: center;
}